div[class|="col"]{
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    

}

div[class|="col-11"]{

    text-align: center;
}

div[class|="col-2"]{

    text-align: center;
    
}

div[card]{

    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    color: black;

}

.card-body {

    text-align: center;
    
}

.img {

    justify-content: center;

}

body {

    background-image: url("images/background.jpg");
    background-size: cover;

}

h5[class|="mt-0"]{

    color: aliceblue;
    text-align: left;
}

p[class|="bienvenida"]{

    color: aliceblue;
    text-align: left;
}

